<footer class="bg-[#0e0a07] text-white px-6 py-16">
  <div class="max-w-7xl mx-auto flex flex-col gap-12">
    <!-- Logo + Store Buttons -->
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center">
      <div class="flex items-center gap-2 text-xl font-bold">
        <img src="/logo.jpg" alt="Alfa Bets Logo" class="w-16 h-16" />
      </div>
    </div>

    <!-- Única columna de enlaces -->
    <div class="text-sm text-gray-300">
      <h4 class="font-semibold text-white text-lg mb-4">Legal</h4>
      <ul class="space-y-2">
        <li><a href="/privacidad" target="_blank">Política de privacidad</a></li>
        <li><a href="/terminos" target="_blank">Términos y Condiciones</a></li>
      </ul>
    </div>

    <!-- Bottom: Legal + Social -->
    <div class="flex flex-col md:flex-row justify-between items-center border-t border-white/10 pt-6 text-sm text-gray-400">
      <p class="mb-4 md:mb-0">© 2025 Afa Bets | Todos los derechos reservados</p>
      <p class="mb-4 md:mb-0">Desarrollado por <a class="text-[#F97316] underline" href="https://Davrdguez.com" target="_blank">Davrdguez</a> | Propiedad de <a class="text-[#F97316] underline" href="https://Estudioacelera.com" target="_blank">Estudio Acelera</a></p>
      <!--
      <div class="flex gap-4">
        <a href="#" class="p-2 border border-white/20 rounded-full hover:bg-white/10">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24"><path d="M22.23 5.924c-.793.352-1.644.59-2.538.697a4.42 4.42 0 001.946-2.443 8.842 8.842 0 01-2.8 1.07 4.409 4.409 0 00-7.512 4.015A12.5 12.5 0 013 4.796a4.408 4.408 0 001.364 5.879A4.39 4.39 0 012.8 10.1v.056a4.41 4.41 0 003.536 4.32 4.403 4.403 0 01-1.156.154c-.282 0-.556-.027-.822-.078a4.417 4.417 0 004.117 3.06A8.848 8.848 0 012 19.542a12.478 12.478 0 006.766 1.984c8.118 0 12.553-6.721 12.553-12.553 0-.191-.004-.382-.013-.572a8.965 8.965 0 002.198-2.282z"/></svg>
        </a>
        <a href="#" class="p-2 border border-white/20 rounded-full hover:bg-white/10">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24"><path d="M19 0h-14c-2.75 0-5 2.25-5 5v14c0 2.75 2.25 5 5 5h14c2.75 0 5-2.25 5-5v-14c0-2.75-2.25-5-5-5zm-11 19h-3v-9h3v9zm-1.5-10.3c-.97 0-1.5-.8-1.5-1.5s.53-1.5 1.5-1.5 1.5.8 1.5 1.5-.53 1.5-1.5 1.5zm13.5 10.3h-3v-5c0-1.5-.5-2.5-1.75-2.5s-2 1.25-2 2.5v5h-3v-9h3v1.2c.42-.67 1.2-1.2 2.5-1.2 1.92 0 3.25 1.25 3.25 3.92v5.08z"/></svg>
        </a>
        <a href="#" class="p-2 border border-white/20 rounded-full hover:bg-white/10">
          <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2.04c-5.5 0-9.96 4.46-9.96 9.96 0 4.41 3.6 8.08 8.26 9.6v-6.77h-2.5v-2.83h2.5v-2.15c0-2.48 1.48-3.84 3.73-3.84 1.08 0 2.21.2 2.21.2v2.43h-1.25c-1.23 0-1.61.77-1.61 1.56v1.79h2.74l-.44 2.83h-2.3v6.77c4.66-1.52 8.26-5.19 8.26-9.6 0-5.5-4.46-9.96-9.96-9.96z"/></svg>
        </a>
      </div>-->
    </div>
  </div>
</footer>
